
/* ============================= */
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ===== ==Variables CSS======= */
:root{
    --header-height: 3rem;

    /* ========Colors========= */
    --first-color: #3E0E12;
    --first-color-dark: #2F0A0D;
    --text-color: #524748;
    --first-color-light: #7b6f71;
    --first-color-lighten: #fbf9f9 ;

    /* ========Fonts========= */
    /*Fonts*/
    --body-font: 'Poppins', sans-serif;

    /*Font Sizes*/
    --biggest-font-size: 2.5rem;
    --h1--font-size: 1.5rem;
    --h2--font-size: 1.25rem;
    --h3--font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*Font weight*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*Margins*/
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*Z-index heheh*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root{
        --biggest-font-size: 4.5rem;
        --h1--font-size: 2.25rem;
        --h2--font-size: 1.5rem;
        --h3--font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}


/* ==========Base========== */

*, ::after,::before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1,h2,h3,ul,p{
    margin: 0;
}

h2,h3{
    font-weight: var(--font-semi-bold);
}

ul{
    padding: 0%;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}


/* =======Resuable code======== */

.section{
    padding: 4rem 0 2rem;
}

.section__title, .section__subtitle{
    text-align: center;
}
.section__title{
    font-size: var(--h1--font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}
.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-4);
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

/* Display of the menu */
.container{
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #000;
}

/* ==========Nav========== */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding-top: 1.5rem;
        text-align: center;
        background-color: #000;
        transition: 0.4s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    }
}

.nav__item{
    margin-bottom: var(--mb-3);
}

.nav__link{
    color: var(--first-color-lighten);
    transition: 0.3s;
}

.nav__link:hover{
    color: var(--first-color-light);
}

.nav__logo, .nav__toggle{
    color: var(--first-color-lighten);
}
.nav__toggle{
    font-size: 1.3rem;
    cursor: pointer;
}

/* Css to show menu */
.show-menu{
    top: var(--header-height);
}

/* Create an active menu */
.active-link{
    position: relative;
}

.active-link::after{
    content: '';
    position: absolute;
    bottom: -0.7rem;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: var(--first-color-light);
}

.scroll-header{
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-header .nav__logo, .scroll-header .nav__toggle, .scroll-header .nav__link{
    color: var(--first-color-dark);
}

.scroll-header .nav__menu{
    background-color: var(--first-color-lighten);
}

/* =======home section=========== */
.home{
    background-color: #000;
    overflow: hidden;
    padding: 0;
}

.home__container{
    height: calc(100vh - var(--header-height));
    row-gap: 2rem;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.home__data{
    padding: 0 2rem;
    border-left: 4px solid var(--first-color-lighten);
    color: var(--first-color-lighten);
    padding-left: 1.5rem;
    z-index: var(--z-tooltip);
}

.home__title{
    font-size: var(--biggest-font-size);
}

.home__greeting, .home__autor{
    display: block;
    font-weight: var(--font-bold);
}

.home__greeting{
    font-size: 0.813rem;
}

.home__autor{
    font-size: var(--normal-font-size);
}

.home__img{
    position: auto;
    width: 240px;
    right: 0;
    bottom: 0;
}

.home__img img{
    width: 100%;
}

/* ========Introduction========= */
.introduction{
    margin: 0 0 3rem 0;
}

.introduction__container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.titles{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.introduction__title{
    margin-bottom: 0;
}

.introduction__img{
    margin-bottom: 1rem;
}

.introduction__data{
    text-align: center;
}



/* ===========STEPS============= */

.steps{
    padding: 0 1rem;
}
 
.steps__data{
    justify-items: center;

}
.steps__container{
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
}
.steps__tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-4);
}

.steps__button{
    font-size: 0.937rem;
    font-weight: var(--font-medium);
    cursor: pointer;
}

.steps__button:hover{
    color: var(--first-color-dark);
}

.steps__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-1);
}

.steps__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.steps__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.steps__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-2);
}

.steps__calendar{
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

.steps__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.steps__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: #000;
    transform: translate(6px, -7px);
}

.steps [data-content]{
    display: none;
}

.steps__active[data-content]{
    display: block;
}

/* =============Media queries=============== */

@media screen and (min-width:576px) {
    .introduction__container{
        display: grid;
        grid-template-columns: max-content 30%;
        column-gap: 2rem;
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    body{
        margin: 0;
    }

    .section{
        padding-top: 6rem;
    }
    
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list{
        display: flex;
    }

    .nav__item{
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }

    .nav__toggle{
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
}